<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV | Admin</title>
</h:head>
<h:body style="font-size: 15px; background-image: url(Sfondo2.jpg);">
	<h:form id="loginForm" style="align: center;  whith: 100%;">
		<b:container layout="fluid" style="align: center;  whith: 100%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="Testata2.jpg" tooltip="MAV"
						style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: center; height: 30px ">
					<!-- inserire i tasti del sottomenù -->
				</b:column>
			</b:row>
			<!-- inserire i tasti del menù -->
			<b:row layout="fluid" style="align: center; height: 320px ">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:button value="Utenti" look="warning" href="Utenti.xhtml" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:button value="Domande" look="primary" href="Domande.xhtml" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:button value="Risposte" look="primary" href="Risposte.xhtml" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:button value="Questionario" look="primary"
							href="Questionario.xhtml" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:button value="Statistiche" look="primary"
							href="Statistiche.xhtml" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 30px " />
						</b:row>
					</b:buttonGroup>
				</b:column>
				<b:column medium-screen="9" span="9"
					style="align: center; background-color:white; border-radius:10px ">
					<h:outputText value="a" style="color:white " />

					<!-- inserire il corpo della pagina -->

					<b:row layout="fluid">
						<b:column medium-screen="9" span="9"
							style="align: left; height: 10px; background-color: white ">
						</b:column>
					</b:row>

					<h:panelGrid columns="3">

						<h:outputLabel value="Username:" for="username" />
						<h:inputText id="username"
							value="#{consultantAddUpdateController.login.username}" />
						<h:message for="username" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Password:" for="password" />
						<h:inputText id="password"
							value="#{consultantAddUpdateController.login.password}" />
						<h:message for="password" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Livello:" for="level" />
						<h:inputText id="level"
							value="#{consultantAddUpdateController.login.user.level}" />
						<h:message for="level" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Abilitato:" for="enable" />
						<h:inputText id="enable"
							value="#{consultantAddUpdateController.login.user.enable}" />
						<h:message for="enable" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Cognome:" for="surname" />
						<h:inputText id="surname"
							value="#{consultantAddUpdateController.login.user.surname}" />
						<h:message for="surname" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Nome:" for="name" />
						<h:inputText id="name"
							value="#{consultantAddUpdateController.login.user.name}" />
						<h:message for="name" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Indirizzo:" for="address" />
						<h:inputText id="address"
							value="#{consultantAddUpdateController.login.user.address}" />
						<h:message for="address" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="CAP:" for="cap" />
						<h:inputText id="cap"
							value="#{consultantAddUpdateController.login.user.cap}" />
						<h:message for="cap" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Citta:" for="city" />
						<h:inputText id="city"
							value="#{consultantAddUpdateController.login.user.city}" />
						<h:message for="city" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Ruolo:" for="role" />
						<h:inputText id="role"
							value="#{consultantAddUpdateController.login.user.role}" />
						<h:message for="role" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel />
						<h:outputLabel value="#{consultantAddUpdateController.message}"
							style="color:red" />
						<h:outputLabel />

					</h:panelGrid>
					<b:commandButton look="success" value="Salva"
						action="#{consultantAddUpdateController.addUpdateUser}" span="2"
						offset="10">
					</b:commandButton>
					<h:outputText value="a" style="color:white " />
				</b:column>
			</b:row>
			<!-- inserire il piede della pagina -->

			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 10px ">
				</b:column>
			</b:row>

			<b:row layout="fluid" style="align: center;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="piede" value="Piede.jpg" tooltip="MAV"
						style=" top: 0px; left: 0px;width: 100%; height: 150px; align: center;" />
				</b:column>
			</b:row>
		</b:container>
	</h:form>
</h:body>
</html>

