<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<style>
/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	/* cursor: pointer;*/
	font-size: 22px;
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 user-select: none;*/
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	height: 20px;
	width: 20px;
	/*opacity: 0;
	cursor: pointer;*/
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	/*background-color: #eee;*/
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	/*background-color: #ccc;*/
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	/*background-color: #6e786d;*/
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	/*display: none;*/
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	/*display: block;*/
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
</style>

<h:head>
	<title>MAV | ITA</title>
	<link rel="icon" href="#{resource['img/mavicon.png']}"/>
	<link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700"
		rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700"
		rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css?family=Inconsolata:400,700"
		rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,600"
		rel="stylesheet" />

<script type="text/javascript"><!--
document.addEventListener("mousemove", resetTimer);
document.addEventListener("keypress", resetTimer);

var tID = '';

function resetTimer() {
  clearTimeout(tID); // reset the timer
  tID = setTimeout('executeTimer()',60000);
}

function executeTimer() {
  location.href = 'index.xhtml';
}
//--></script>

</h:head>

<h:body style="background-color:#a0a09e;">
	<b:container layout="fluid"
		style="align: left; height: 100%; width: 100%;">
<!--  <b:form medium-screen="12"> -->
		<b:row styleClass="show-grid"
			style="align: center; background-color: #ffffff;">
			<b:column style="align: left;">
				<b:navLink href="index.xhtml">
					<b:image name="sfondo" value="#{resource['img/mav_header.png']}"/>
				</b:navLink>
			</b:column>
		</b:row>

		<b:row styleClass="show-grid"
			style="align: center; background-color: #e4e4e3;">

			<b:column span="5"
				style="text-align: left; font-family: 'Hind Siliguri', sans-serif; font-size: 38px; 
																	color: #8e9b8d; font-weight: 300; padding-top: 1%">
				<p>#{surveyDispenseController.sd.title}</p>
			</b:column>

			<b:column span="1"></b:column>

			<b:column span="5"></b:column>

			<b:column span="1" style="align: right;">
				<b:image name="bandiera" value="../resources/img/#{questController.sd.flag}64.png"
					style="text-align: right; padding-top: 15%" />
			</b:column>
		</b:row>

		<!-- PROGRESS BAR -->

		<b:row styleClass="show-grid" layout="fluid"
			style="align: center; width: 100%; padding-top: 2%">
			<b:column span="3"></b:column>
			<b:column span="6" style="align: center">
				<b:progressBar value="#{surveyDispenseController.lstep}"
					look="primary" />
			</b:column>
			<b:column span="3"></b:column>
		</b:row>

		<!--  DOMANDA  -->

		<b:row layout="fluid"
			style="align: right; width: 100%; height:5px; padding-top: 1%">

			<b:column span="3"></b:column>

			<b:column medium-screen="12" span="6">
				<b:label class='hind'
					text="#{surveyDispenseController.sd.question} #{surveyDispenseController.sd.nQuest} / #{surveyDispenseController.totQuests}"
					style="text-align: right; font-size: 18px; 
					 			font-weight: 300; background-color: #a0a09e; color: #ffffff; font-style: italic;" />

			</b:column>
			<b:column span="3"></b:column>
		</b:row>

		<b:row layout="fluid"
			style="align: center; width: 100%; padding-top: 4%">

			<b:column span="3"></b:column>

			<b:column style="text-align: left; font-size: 24px; 
					 			font-weight: 300; background-color: #a0a09e; color: #ffffff; font-style: italic;" span="6">
			#{surveyDispenseController.gq}
			</b:column>

			<b:column span="3"></b:column>
		</b:row>

		<ui:repeat value="#{surveyDispenseController.questions}"
			var="question" varStatus="q">
			<b:row layout="fluid"
				style="align: left; width: 100%; padding-top: 1%">

				<b:column span="3"></b:column>

				<b:column style="text-align: left; font-size: 24px; font-weight: 300; background-color: #a0a09e;
					  			color: #ffffff; font-style: italic; padding-left: 5%" span="6" >
					#{question.name} <!-- - #{q.index} -->
				</b:column>
				<b:column span="3"></b:column>
			</b:row>

			<!--  FORM  RADIO BUTTON  -->
			<b:form medium-screen="12" name="#{q.index}" id="radio">
			<b:row layout="fluid"
				style="align: center; width: 100%; padding-top: 2%">
				<b:column span="3"></b:column>

				<b:column span="6">
								
						<b:radiobutton 
							value="#{surveyDispenseController.sd.choices[question.id]}"
							style="text-align: left; font-size: 20px; font-weight: 300; padding-left: 10%; margin-top: -10px; background-color: #a0a09e; color: #ffffff; font-style: italic; display:#{surveyDispenseController.inlineAnswer};" ajax="true" update="form">
							<f:selectItems value="#{question.answers}" var="answer" 
								itemLabel="#{answer.name}" itemValue="#{answer.id}"/>
						</b:radiobutton> 
		
				</b:column>
				<b:column span="3"></b:column>
			</b:row>
			</b:form>
		</ui:repeat>
		
		<b:row>
		<b:column>
		<h:outputText value="a" style="color:#a0a09e" />
		</b:column>
		</b:row>
		<b:form medium-screen="12" id="form">
				<b:button look="warning" value="#{surveyDispenseController.sd.quitKey}"
						href="index.xhtml" span="2"
						offset="4">
		</b:button>
		
		<b:commandButton look="success" value="#{surveyDispenseController.sd.nextKey}" id="avanti"
						action="#{surveyDispenseController.next}" disabled="#{surveyDispenseController.sd.choices.size()!=surveyDispenseController.questions.size()}"
						  span="2" offset="0">
		</b:commandButton>
		</b:form>
		<!-- </b:form>  -->
		
	</b:container>

	<b:container layout="fluid"
		style="align: center; height: 100%; width: 100%;">

		<b:row styleClass="show-grid"
			style="align: center; width: 100%; padding-top: 12%">
			<b:column class='hind' span="12"
				style="text-align: center;font-weight: 600; font-size: 12px;">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
		</b:row>
		
	
	</b:container>
  	

<!--
tutte le scelte
<h:form >
	 <ui:repeat value="#{surveyDispenseController.sd.allChoices}" var="choice">

		<b:row layout="fluid"
			style="align: center; width: 100%; padding-top: 4%">

			<b:column style="align: center;" span="12">
				<b:label class='hind' text="#{choice.customer} - #{choice.idanswer} - #{choice.selected}" />
			</b:column>
		</b:row>
	</ui:repeat>
</h:form>
  -->
	<!-- TUTTI GLI STILI -->

	<style>
.myjumbotron {
	background-color: #e8e8e8;
	background-size: 100% 100%;
}

.myjumbotron2 {
	background-color: #a0a09e;
}

<!--
FONTS -->.hind {
	font-family: 'Hind Siliguri', sans-serif;
	color: #8e9b8d;
}

.inconsolata {
	font-family: 'Inconsolata', monospace;
}

.gudea {
	font-family: 'Gudea', sans-serif;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Hind Siliguri', sans-serif;
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
}

.button1:hover {
	background-color: white;
	color: #fecd1b;
	width: 500px;
}

.button1 {
	background-color: #f8c302;
	color: #e4e4e3;
	width: 500px;
}

.button2:hover {
	background-color: white;
	color: #008CBA;
	width: 500px;
}

.button2 {
	background-color: #008CBA;
	color: #e4e4e3;
	width: 500px;
}

.button3:hover {
	background-color: white;
	color: #d3131e;
	width: 500px;
}

.button3 {
	background-color: #d3131e;
	color: #e4e4e3;
	width: 500px;
}
;
</style>
</h:body>
</html>
