<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>MAV | Credits</title>
	<link rel="icon" href="#{resource['img/mavicon.png']}"/>
	
	<link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,600" rel="stylesheet"/>

<script type="text/javascript"><!--

var tID = '';

function resetTimer() {
  clearTimeout(tID); // reset the timer
  tID = setTimeout('executeTimer()',30000);
}

function executeTimer() {
  location.href = 'index.xhtml';
}
//--></script>

</h:head>


	<!-- HEADER -->

<h:body style="background-color:#a0a09e;" onload="resetTimer()">


		<b:container layout="fluid"
			style="align: left; height: 100%; width: 100%;">

			<b:row styleClass="show-grid" style="align: center; background-color: #ffffff;">
				<b:column  style="align: left;">
					<b:navLink  href="index.xhtml">
						<b:image name="sfondo" value="#{resource['img/mav_header.png']}"/>
					</b:navLink>
				</b:column>
			</b:row>


			<b:row styleClass="show-grid" style="align: center; background-color: #e4e4e3;">				

				<b:column span="4" ></b:column>
				<b:column span="4" style="text-align: center; font-family: 'Hind Siliguri', sans-serif; font-size: 38px; 
																	color: #8e9b8d; font-weight: 300; padding-top: 1%">
					<p>CREDITS</p>
				</b:column>
					
			<b:column span="4" style="align: right;">
				<b:image name="protom" value="#{resource['img/protom64.png']}" style="text-align: right; padding-left: 350px; padding-top: 15px"/>
			</b:column>
	
			</b:row>
	
</b:container>


	<!--  SFONDO CON IMG -->

	<b:container layout="fluid" style="align: left; height: 100%; width: 100%;">
 
 			<b:row styleClass="show-grid" style="align: left; background-color: #000000;">
				<b:column style="align: left;" span="6">
					<b:image name="sfondo" value="#{resource['img/credits_img.png']}"/>	
				</b:column>
				
				
				<b:column class= 'hind'  span="4" style="align: left; text-align: center; font-size: 16px; font-weight: 300;
				  background-color: #f6f6f4; border-radius: 5px; padding-top: 40px; padding-bottom: 40px; margin-top: 100px; 
				  height: 100%; width: 40%;">
					<p><i>Diese Anwendung ist das Ergebnis einer Projektarbeit entwickelt am Ende natürlich die höhere technische Bildung "JAVA Entwickler"
 					von der Region Kampanien finanziert und an die ProtomGroup ab November 2017 bis Mai 2018 statt.
.</i><br></br><br></br>
					<u>Normative Verweise:</u><br></br>
					<i>
					POC-2014-2020 "Aktion Human Capital, Arbeits- und Jugendpolitik".<br></br>
					Projekt <strong>"der Systemadministrator: eine Schlüsselrolle für Kleinst- und Kleinunternehmen Organisationen"</strong><br></br>
					DGR 23/05/2017-DD 350 299 der 26/07/2017-DD 394 von 08.07.2017<br></br>
					COD. Puh. 290-CUP B66D11000710001 wirkenden Betreiber: Protom Group SpA<br></br><br></br>
					<strong>GANViM Team:</strong><br></br>Giovanni d'Alise | Vincenzo Comentale | Antonio Rodolfo Napolitano |<br></br> Nicola Berardino | Monica Di Franco</i></p>
				</b:column>
				
				<b:column   span="2"> </b:column>
			</b:row>		
	</b:container>
	

	<!-- FOOTER -->

		<b:container layout="fluid" style="align: center; height: 100%; width: 100%;">
			

			<b:row styleClass="show-grid" style="align: center; width: 100%; margin-top: 100px">
				<b:column class= 'hind' span="12" style="text-align: center;font-weight: 600; font-size: 12px;">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
			</b:row>
		</b:container>




	<!-- TUTTI GLI STILI -->

<style>


.myjumbotron {
	background-color: #e8e8e8;	
	background-size: 100% 100%;
}

.myjumbotron2 {
	background-color: #a0a09e;
}



<!-- FONTS -->



.hind {
	font-family: 'Hind Siliguri', sans-serif;
	color: #8e9b8d;
}

.inconsolata {

	font-family: 'Inconsolata', monospace;
	
}

.gudea {font-family: 'Gudea', sans-serif;
}


<!-- BUTTONS -->

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Hind Siliguri', sans-serif;
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
}

.button1:hover {
	background-color: white;
	color: #9a9a84;
	
	
}

.button1 {
	background-color: #9a9a84;
	color: #e4e4e3;
	
}

;
</style>
</h:body>
</html>
