<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV | Ercolano</title>	
<link rel="icon" href="#{resource['img/mavicon.png']}"/>

<link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,600" rel="stylesheet"/>
	

</h:head>


<h:body style=" background-color:#a0a09e;"> 

	<b:container class="myjumbotron" layout="fluid" style="height: 100%; width: auto; ">
	
	<b:row styleClass="show-grid" >
			<b:form>
			<b:column span="2" col-xs="2" col-sm="2" col-md="2" col-lg="7"></b:column>
			#{questController.language}
			<b:column span="2" col-xs="2" col-sm="2" col-md="2" col-lg="1" >
				
				<b:navLink  href="?l=ita">
				<b:image name="ita_flag" value="#{resource['img/ita.png']}" style="display: block; margin-left: auto; margin-right: auto; width:100%;"/>
				</b:navLink>
					</b:column>
			<b:column span="2" col-xs="2" col-sm="2" col-md="2" col-lg="1">
			 	<b:navLink  href="?l=eng">
				<b:image 
				name="eng_flag" value="#{resource['img/uk.png']}" style="display: block; margin-left: auto; margin-right: auto; width:100%;"/>
				 </b:navLink>
					</b:column>
			<b:column span="2" col-xs="2" col-sm="2" col-md="2" col-lg="1">
			 	<b:navLink  href="?l=fra">
				<b:image 
				name="fra_flag" value="#{resource['img/fra.png']}" style="display: block; margin-left: auto; margin-right: auto; width:100%;"/>
				 </b:navLink>
					</b:column>
			<b:column span="2" col-xs="2" col-sm="2" col-md="2" col-lg="1">
			 	<b:navLink  href="?l=deu">
				<b:image 
				name="ger_flag" value="#{resource['img/ger.png']}" style="display: block; margin-left: auto; margin-right: auto; width:100%;"/>
				 </b:navLink>
					</b:column>
			<b:column span="2" col-xs="2" col-sm="2" col-md="2" col-lg="1">
			 	<b:navLink  href="?l=esp">
				<b:image
				name="spa_flag" value="#{resource['img/spa.png']}" style="display: block; margin-left: auto; margin-right: auto; width:100%;"/>
				 </b:navLink>
					</b:column>
			</b:form>
		</b:row>
		
		<b:row styleClass="show-grid">
			
		</b:row>

	</b:container>



 <b:container layout="fluid" style="align: left; height: 100%; width: 100%;">
 
 			<b:row style="background-color: #ffffff;">
				
					<b:image tiny-screen="two-thirds" medium-screen="two-thirds" large-screen="three-fourths" name="sfondo" value="#{resource['img/mav.png']}" 
					style="align: left; padding-left: 0px;"/>
				
			</b:row>		
</b:container>


		<b:container layout="fluid"
			style="align: center; height: auto; width: auto;">
			

			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 3%">

				<b:column span="1" style="text-align: right">
					<b:image name="maps" value="#{resource['img/maps.png']}"/>
				</b:column>

				<b:column class="hind" span="2" style="text-align: left;  font-weight: 600; font-size: 12px;">
					<p>
						DOVE SIAMO | LOCATION<br></br> Indirizzo | Address<br></br> Via IV
						Novembre 44<br></br> 80056 – Ercolano (NA)<br></br> <br></br>
					</p>
				</b:column>

				<b:column class="hind" span="4" style="text-align: left; font-weight: 600; font-size: 12px;">
					<p>
						<br></br> Contatti | Info<br></br> Mail: info@museomav.it<br></br>
						Tel: 081/7776843 - 081/7776784 |  Fax: 081/7323941
					</p>
				</b:column>
				<b:column span="5"></b:column>
			</b:row>


			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 1%">
				<b:column  span="12" style="text-align: center; font-weight: 600; font-size: 12px;">
				<b:link  style-class= "a a1" href="credits_ita.xhtml">
 				 ©2018 MAV | GANViM
				</b:link>
 				</b:column>
			</b:row>
		</b:container>

	
	<!-- TUTTI GLI STILI -->

 <style>


.myjumbotron {
	background-color:#e8e8e8;
    height: 200px;   
    background-size: 100% 100%;
	
}
.myjumbotron2 {
	background-color: #a0a09e;

}



<!-- FONTS -->

.hind {
	font-family: 'Hind Siliguri', sans-serif;
	color: #8e9b8d;
}

.inconsolata {

	font-family: 'Inconsolata', monospace;
	
}

.gudea {font-family: 'Gudea', sans-serif;
}


<!-- TEXT LINKS -->
.a {
	border: none;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Hind Siliguri', sans-serif;
	color: #363a35;
	font-size: 12px;
	font-weight: 600;
}

.a1:link {
	text-decoration: none;
	color: #363a35;
	font-size: 12px;
	font-weight: 600;
}
.a1:visited {
	text-decoration: none;
	color: #363a35;
	font-size: 12px;
	font-weight: 600;
}
.a1:hover {
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
}



;
  </style>
	</h:body>
</html>
