<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV | Login</title>
	<link rel="icon" href="#{resource['img/mavicon.png']}"/>
</h:head>
<h:body style=" background-color:#a0a09e; align:center">
<h:form id="loginForm" style="align: center;">
  <b:container class="myjumbotron" layout="fluid" style="align: left; width: 80%;">
       <b:row layout="fluid" style="align: center;">
        <b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="#{resource['img/Admin_header_white.png']}"
						tooltip="MAV"
						style=" top: 0px; left: 0px;width: 100%; height:auto; align: center;" />
             </b:column>
        </b:row>
        <b:row style="align: center;">
              <b:column span="3">
      </b:column>
      <b:column span="6"  style="align: center; height: 300px">
	<b:panel title="Login:" look="primary" columns="3" style="align: center;" collapsible="false">
      	
      <b:row>
        <b:column medium-screen="2">
          <h:outputText value="Username:" for="username" look="primary" />
        </b:column>
        <b:column medium-screen="5">
          <b:inputText id="username" value="#{loginController.username}"
                      ajax="true" autocomplete="true">
            <f:facet name="prepend">
              <b:icon name="user" />
            </f:facet>
          </b:inputText>
        </b:column> 
        <b:column medium-screen="5">
        <b:message for="username" style="color:red" /> 
        </b:column> 
      </b:row>

      <b:row >
        <b:column medium-screen="2">
          <h:outputText value="Password:" for="password" look="primary" />
        </b:column>
        <b:column medium-screen="5">
          <b:inputSecret id="password" value="#{loginController.password}"
                         ajax="true" autocomplete="true">
            <f:facet name="prepend">
              <b:iconAwesome name="key" />
            </f:facet>
          </b:inputSecret>
        </b:column>
        <b:column medium-screen="5">   
        <b:message for="password" style="color:red"/>   
        </b:column>
        </b:row>
        <b:row >
         </b:row>
         
          <b:row >
          <b:column medium-screen="2">
           </b:column>
        <b:column medium-screen="10">
        <b:alert severity="danger" rendered="#{loginController.login.level.length()!=0}"> #{loginController.login.level} </b:alert>
        </b:column>
        </b:row>
          
        <b:row >
         <b:column medium-screen="2">
           </b:column>
        <b:column medium-screen="5">
          <b:commandButton value="login" look="primary" action="#{loginController.checkLogin}"
                          style="width:100%"  />
        </b:column>
        <b:column medium-screen="5" >

        </b:column>
      </b:row>
      </b:panel>
      </b:column>
      
      <b:column span="3">
      </b:column>
</b:row>
<b:row layout="fluid" style="align: center; width: 100%;">

				<b:column span="1" style="text-align: right">
					<b:image name="maps" value="#{resource['img/maps.png']}"/>
				</b:column>

				<b:column class="hind" span="2" style="text-align: left;  font-weight: 600; font-size: 12px; color:white">
					<p>
						DOVE SIAMO | LOCATION<br></br> Indirizzo | Address<br></br> Via IV
						Novembre 44<br></br> 80056 – Ercolano (NA)<br></br> <br></br>
					</p>
				</b:column>

				<b:column class="hind" span="4" style="text-align: left; font-weight: 600; font-size: 12px; color:white">
					<p>
						<br></br> Contatti | Info<br></br> Mail: info@museomav.it<br></br>
						Tel: 081/7776843 - 081/7776784 |  Fax: 081/7323941
					</p>
				</b:column>
				<b:column span="5"></b:column>
			</b:row>


			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 1%">
				<b:column class="hind" span="12" style="text-align: center; font-weight: 600; font-size: 12px; color:white">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
			</b:row>



  </b:container>
</h:form>
</h:body>
</html>