<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>MAV | Questionario</title>
	<link rel="icon" href="#{resource['img/mavicon.png']}"/>
	
	<link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,600" rel="stylesheet"/>

<script type="text/javascript"><!--

var tID = '';

function resetTimer() {
  clearTimeout(tID); // reset the timer
  tID = setTimeout('executeTimer()',60000);
}

function executeTimer() {
  location.href = 'index.xhtml';
}
//--></script>

</h:head>




<h:body style="background-color:#a0a09e;" onload="resetTimer()">


		<b:container layout="fluid"
			style="align: left; height: 100%; width: 100%;">

			<b:row styleClass="show-grid" style="align: center; background-color: #ffffff;">
				<b:column  style="align: left;">
					<b:navLink  href="index.xhtml">
						<b:image name="sfondo" value="#{resource['img/mav_header.png']}"/>
					</b:navLink>
				</b:column>
			</b:row>


			<b:row styleClass="show-grid" style="align: center; background-color: #e4e4e3;">				
				
				<b:column span="2" style="text-align: center; font-family: 'Hind Siliguri', sans-serif; font-size: 38px; 
																	color: #8e9b8d; font-weight: 300; padding-top: 1%">
					<p>#{questController.sd.title}</p>
				</b:column>
				
				
				<b:column span="9" ></b:column>
	
			<b:column span="1" style="align: right;">
				<b:image name="bandiera" value="../resources/img/#{questController.sd.flag}64.png"   style="text-align: right; padding-top: 15%"/>
			</b:column>
	
			</b:row>
	

			<b:row styleClass="show-grid" layout="fluid" style="align: center; width: 100%; padding-top: 0.5%">
				<b:column class= 'hind' span="10" offset="1" style="text-align: center; font-size: 22px; font-weight: 400;">
					<p><i>Gentile partecipante,<br></br> chiediamo la sua disponibilità a
						partecipare al sondaggio. Lo scopo è valutare la qualità del
						servizio offerto. La sua partecipazione ci consentirà di definire
						meglio le esigenze e le abitudini dei visitatori e
						migliorare/sviluppare i servizi offerti. La sua partecipazione è
						ASSOLUTAMENTE VOLONTARIA e le saremo grati se compilasse il
						questionario in ogni sua parte. I dati raccolti saranno
						registrati, elaborati, gestiti e archiviati in forma cartacea,
						automatizzata ed informatizzata per le esclusive finalità
						connesse, in forma assolutamente anonima e soggetti ad
						elaborazione statistica.</i></p>
				</b:column>
			</b:row>


<h:form>
			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 3%">

				<b:column span="4"></b:column>

				<b:column medium-screen="12" style="align: left;" span="4">
					<b:commandButton class="button button2" value="ADULTI SINGOLI"
					action="#{questController.openSurvey('adulti')}" disabled="#{questController.idAdults==0}"
						style="align: center; height: 100%; width: 100%;" />
				</b:column>
				<b:column span="4"></b:column>
			</b:row>
			
			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 2%">
			
				<b:column span="4"></b:column>
				
				<b:column medium-screen="12" style="align: center;" span="4">
					<b:commandButton class="button button3" value="GRUPPI ORGANIZZATI"
					action="#{questController.openSurvey('gruppi')}" disabled="#{questController.idGroups==0}"
						style="align: center; height: 100%; width: 100%;" />
				</b:column>
			</b:row>


			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 2%">
			
				<b:column span="4"></b:column>
				
				<b:column medium-screen="12" style="align: center;" span="4">
					<b:commandButton class="button button1" value="RAGAZZI"
					action="#{questController.openSurvey('ragazzi')}" disabled="#{questController.idKids==0}"
						style="align: center; height: 100%; width: 100%;" />
				</b:column>
			</b:row>
</h:form>
		</b:container>

		<b:container layout="fluid"
			style="align: center; height: 100%; width: 100%;">
			
<!-- 
			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 4%">

				<b:column span="1" style="text-align: right">
					<b:image name="maps" value="#{resource['img/maps.png']}"/>
				</b:column>

				<b:column class="ntr" span="2" style="text-align: left">
					<p>
						DOVE SIAMO | LOCATION<br></br> Indirizzo | Address<br></br> Via IV
						Novembre 44<br></br> 80056 – Ercolano (NA)<br></br> <br></br>
					</p>
				</b:column>

				<b:column class="ntr" span="2" style="text-align: left">
					<p>
						<br></br> Contatti | Info<br></br> Mail: info@museomav.it<br></br>
						Tel: 081/7776843 - 081/7776784<br></br> Fax: 081/7323941
					</p>
				</b:column>
				<b:column span="7"></b:column>
			</b:row>
 -->

			<b:row styleClass="show-grid" style="align: center; width: 100%; padding-top: 9%">
				<b:column class= 'hind' span="12" style="text-align: center;font-weight: 600; font-size: 12px;">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
			</b:row>
		</b:container>




	<!-- TUTTI GLI STILI -->

<style>


.myjumbotron {
	background-color: #e8e8e8;	
	background-size: 100% 100%;
}

.myjumbotron2 {
	background-color: #a0a09e;
}



<!-- FONTS -->



.hind {
	font-family: 'Hind Siliguri', sans-serif;
	color: #8e9b8d;
}

.inconsolata {

	font-family: 'Inconsolata', monospace;
	
}

.gudea {font-family: 'Gudea', sans-serif;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Hind Siliguri', sans-serif;
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
}

.button1:hover {
	background-color: white;
	color: #fecd1b;
	
	width: 500px;
}

.button1 {
	background-color: #f8c302;
	color: #e4e4e3;
	width: 500px;
}

.button2:hover {
	background-color: white;
	color: #008CBA;
	
	width: 500px;
}

.button2 {
	background-color: #008CBA;
	color: #e4e4e3;
	width: 500px;
}

.button3:hover {
	background-color: white;
	color: #d3131e;
	
	width: 500px;
}

.button3 {
	background-color: #d3131e;
	color: #e4e4e3;
	width: 500px;
}
;
</style>
</h:body>
</html>
