<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>MAV | Questionario</title>
	<link rel="icon" href="#{resource['img/mavicon.png']}"/>
	
	<link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,600" rel="stylesheet"/>

<script type="text/javascript"><!--
document.addEventListener("mousemove", resetTimer);
document.addEventListener("keypress", resetTimer);

var tID = '';

function resetTimer() {
  clearTimeout(tID); // reset the timer
  tID = setTimeout('executeTimer()',60000);
}

function executeTimer() {
  location.href = 'index.xhtml';
}
//--></script>

</h:head>




<h:body style="background-color:#a0a09e;">


		<b:container layout="fluid"
			style="align: left; height: 100%; width: 100%;">

			<b:row styleClass="show-grid" style="align: center; background-color: #ffffff;">
				<b:column  style="align: left;">
					<b:navLink  href="index.xhtml">
						<b:image name="sfondo" value="#{resource['img/mav_header.png']}"/>
					</b:navLink>
				</b:column>
			</b:row>


			<b:row styleClass="show-grid" style="align: center; background-color: #e4e4e3;">				

				<b:column span="1" ></b:column>
				<b:column span="10" style="text-align: center; font-family: 'Hind Siliguri', sans-serif; font-size: 38px; 
																	color: #8e9b8d; font-weight: 300; padding-top: 1%">
					<p>IL QUESTIONARIO È TERMINATO !</p>
				</b:column>
					
			<b:column span="1" style="align: right;">
				<b:image name="bandiera" value="../resources/img/#{questController.sd.flag}64.png" style="text-align: right; padding-top: 15%"/>
			</b:column>
	
			</b:row>
	
	
	<!-- RINGRAZIAMENTI -->

			<b:row styleClass="show-grid" layout="fluid" style="align: center; width: 100%; padding-top: 0.5%">
				<b:column class= 'hind' span="10" offset="1" style="text-align: center; font-size: 20px; font-weight: 300;">
					<p><i>Grazie di averci dedicato il tuo prezioso tempo.<br></br> Le risposte ci aiuteranno 
					a fornire servizi migliori e sviluppare esperienze sensoriali sempre più emozionanti. </i></p>
				</b:column>
			</b:row>
</b:container>

	<!-- NEWSLETTER E SUGGERIMENTI -->		
	
	
	<b:container layout="fluid" style="align: center; height: 100%; width: 40%; background-color: #f6f6f4;
   										 border-radius: 5px; margin-top: 70px; padding-bottom: 40px; padding-top: 2%">	
		
			<b:row styleClass="show-grid" layout="fluid" style="align: center; width: 100%; padding-top: 0%">
				
				<b:column span="2"></b:column>
				
				<b:column class= 'hind'  span="8" style="text-align: center; font-size: 16px; font-weight: 300;">
					<p><i>Vuoi essere informato sugli eventi, i concerti e le iniziative collaterali organizzate dal Museo?<br></br>
					 Iscriviti alla nostra newsletter!</i></p>
				</b:column>
				<b:column span="2"></b:column>
			</b:row>
			
			<b:form>
			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 0%">
					
					<b:column span="2"></b:column>
					<b:column span="10">
 						 <b:inputText id="email" span="10" value="#{questFineController.eMail.email}" validatorMessage="Formato non valido">		
 							   <f:facet name="append">
    							  <b:iconAwesome name="envelope-o" size="1x"/>
   							   </f:facet>
   							   	<!--  <f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />-->
  						 </b:inputText>
  						<!-- <b:message class= 'hind' span="10" for="email" />-->
						</b:column>
					<b:column span="2"></b:column>
					<b:column span="10">
					 <b:alert severity="#{questFineController.sd.messSeverity}" 
						rendered="#{questFineController.sd.message.length()!=0}" style="width:100%;"> 
						#{questFineController.sd.message} </b:alert>
					</b:column>
					<b:column span="2"></b:column>
			</b:row>
			
			
			<b:row styleClass="show-grid" layout="fluid" style="align: center; width: 100%; padding-top: 0%">
				
				<b:column span="2"></b:column>
				<b:column class= 'hind'   style="text-align: center; font-size: 16px; font-weight: 300;">
					<p><i>Suggerimenti? Scrivici!</i></p>
				</b:column>
				<b:column span="2"></b:column>
			</b:row>
			
					<b:row layout="fluid" style="align: center; width: 100%; padding-top: 0%">
					<b:column span="2"></b:column>
					<b:column span="10">
 						 <b:inputTextarea rows="4" span="10" style="resize: none" value="#{questFineController.suggest.suggest}">		  
  						 </b:inputTextarea>
					</b:column>
					<b:column span="2"></b:column>
			</b:row>

				<b:row layout="fluid" style="align: center; width: 100%; padding-top: 3%">

						<b:column span="5"></b:column>

							<b:column medium-screen="12" style="align: left;" span="2">
								<b:commandButton class="button button1" value="FINE"
								action="#{questFineController.end(questFineController.sd.language)}"
								style="align: center; height: 130%; width: 130%; "/>
							</b:column>
				<b:column span="5"></b:column>
			</b:row>
		</b:form>

		</b:container>





		<b:container layout="fluid"
			style="align: center; height: 100%; width: 100%;">

		<b:row layout="fluid" style="align: center; width: 100%; padding-top: 9%">
				<b:column  span="12" style="text-align: center; font-weight: 600; font-size: 12px;">
				<b:link  style-class= "a a1" href="credits_#{questFineController.sd.language}.xhtml">
 				 ©2018 MAV | GANViM
				</b:link>
 				</b:column>
			</b:row>

		</b:container>




	<!-- TUTTI GLI STILI -->

<style>


.myjumbotron {
	background-color: #e8e8e8;	
	background-size: 100% 100%;
}

.myjumbotron2 {
	background-color: #a0a09e;
}



<!-- FONTS -->



.hind {
	font-family: 'Hind Siliguri', sans-serif;
	color: #8e9b8d;
}

.inconsolata {

	font-family: 'Inconsolata', monospace;
	
}

.gudea {font-family: 'Gudea', sans-serif;
}


<!-- BUTTONS -->

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Hind Siliguri', sans-serif;
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
}

.button1:hover {
	background-color: white;
	color: #9a9a84;	
}

.button1 {
	background-color: #9a9a84;
	color: #e4e4e3;	
}


<!-- TEXT LINKS -->
.a {
	border: none;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: 'Hind Siliguri', sans-serif;
	color: #363a35;
	font-size: 12px;
	font-weight: 600;
}

.a1:link {
	text-decoration: none;
	color: #363a35;
	font-size: 12px;
	font-weight: 600;
}
.a1:visited {
	text-decoration: none;
	color: #363a35;
	font-size: 12px;
	font-weight: 600;
}
.a1:hover {
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
}

;
</style>
</h:body>
</html>
