<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV | Admin</title>
<link rel="icon" href="#{resource['img/mavicon.png']}"/>
</h:head>
<h:body style=" background-color:#a0a09e;">
<h:form id="Form" style="align: center;  whith: 100%;">
  <b:container class="myjumbotron" layout="fluid" style="align: left; width: 80%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="#{resource['img/Admin_header_white.png']}"
						tooltip="MAV"
						style=" top: 0px; left: 0px;width: 100%; height:auto; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: right; text-align: right; font-size: 25px; color: white; height: 30px">
					<!-- inserire i tasti del sottomenù -->
					
					Pannello di controllo | #{emailController.sd.level}:					
					<b:dropButton look="primary"
						value="#{emailController.sd.username}">
						<b:navCommandLink  value="Profilo" action="#{emailController.myProfile()}" />
						<b:navCommandLink value="Logout" action="#{emailController.logout()}"  />
					</b:dropButton>			
				</b:column>
			</b:row>
			<b:row>
				<h:outputText value="a" style="color:#a0a09e " />
			</b:row>
			<!-- inserire i tasti del menù -->
			
			<b:row layout="fluid" style="height:520px">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:commandButton value="Utenti" look="primary" action="#{emailController.changePage('utenti.xhtml')}" style="border-radius:10px" />
							<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Domande" look="primary" action="#{emailController.changePage('domande.xhtml')}" style=" border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Risposte" look="primary" action="#{emailController.changePage('risposte.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
							
						<b:commandButton value="Email" look="warning" action="#{emailController.changePage('email.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Suggerimenti" look="primary" action="#{emailController.changePage('suggerimenti.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						
						<b:commandButton value="Questionario" look="primary" action="#{emailController.changePage('questionario.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Join Questionario" look="primary" action="#{emailController.changePage('joinquestionario.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Statistiche" look="primary" action="#{emailController.changePage('statistiche.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 30px "/>
						</b:row>
								
						</b:buttonGroup>
				</b:column>
					<b:column medium-screen="1" span="1">
					<h:outputText value="" style="color:white " />
						</b:column>
				<b:column medium-screen="9" span="9"
					style="align: center;  background-color: white; border-radius:10px ">
					<h:outputText value="a" style="color:white " />

					<!-- inserire il corpo della pagina -->

					<h:form>
						<b:dataTable value="#{emailController.emails}" var="email"
							excel="true" csv="true" pdf="true" columnVisibility="true"
							copy="true" print="true">
							<b:dataTableColumn label="e-mail">
								<b:inputText value="#{email.email}" size="250"
									style="width: 450px;" />
							</b:dataTableColumn>
							<b:dataTableColumn>
								<b:commandButton value="Modifica" icon="edit"
									action="#{emailController.update(email.id,email.email)}"
									label="azioni" />
								<h:outputText value=".." style="color:white " />
								<b:commandButton value="Cancella" icon="trash"
									action="#{emailController.delete(email.id)}" label="azioni">
								</b:commandButton>
							</b:dataTableColumn>
						</b:dataTable>
					</h:form>

					<b:row>
						<b:column>
						<b:alert severity="#{emailController.sd.messSeverity}" 
						rendered="#{emailController.sd.message.length()!=0}" style="width:100%;"> 
						#{emailController.sd.message} </b:alert>
						</b:column>
						
							<b:column>
								<b:inputText value="#{emailController.newemail}"
									size="250" style="width: 450px;"
									label="Nuova Email:" />
							</b:column>
							<b:column>
								<b:commandButton look="success" value="Nuovo" span="2" offset="10"
									style="margin-top: -4em;"
									action="#{emailController.add(emailController.newemail)}" />
							</b:column>
						
					</b:row>
	
	
						<h:outputText value="a" style="color:white " />
				</b:column>
			</b:row>

			<b:row layout="fluid">
				<b:column medium-screen="9" span="9"
					style="align: left; height: 10px ">
				</b:column>
			</b:row>
					<!-- inserire il piede della pagina -->	

<b:row layout="fluid" style="align: center; width: 100%; padding-top: 3%">

				<b:column span="1" style="text-align: right">
					<b:image name="maps" value="#{resource['img/maps.png']}"/>
				</b:column>

				<b:column class="hind" span="2" style="text-align: left;  font-weight: 600; font-size: 12px; color:white">
					<p>
						DOVE SIAMO | LOCATION<br></br> Indirizzo | Address<br></br> Via IV
						Novembre 44<br></br> 80056 – Ercolano (NA)<br></br> <br></br>
					</p>
				</b:column>

				<b:column class="hind" span="4" style="text-align: left; font-weight: 600; font-size: 12px; color:white">
					<p>
						<br></br> Contatti | Info<br></br> Mail: info@museomav.it<br></br>
						Tel: 081/7776843 - 081/7776784 |  Fax: 081/7323941
					</p>
				</b:column>
				<b:column span="5"></b:column>
			</b:row>


			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 1%">
				<b:column class="hind" span="12" style="text-align: center; font-weight: 600; font-size: 12px; color:white">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
			</b:row>

		</b:container>
	</h:form>
</h:body>
</html>
