<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV | Admin</title>
<link rel="icon" href="#{resource['img/mavicon.png']}" />
</h:head>
<h:body style=" background-color:#a0a09e;">
<h:form id="Form" style="align: center;  whith: 100%;">
  <b:container class="myjumbotron" layout="fluid" style="align: left; width: 80%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="#{resource['img/Admin_header_white.png']}"
						tooltip="MAV"
						style=" top: 0px; left: 0px;width: 100%; height:auto; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: right; text-align: right; font-size: 25px; color: white; height: 30px">
					<!-- inserire i tasti del sottomenù -->
					
					Pannello di controllo | #{joinSurveyController.sd.level}:					
					<b:dropButton look="primary"
						value="#{joinSurveyController.sd.username}">
						<b:navCommandLink  value="Profilo" action="#{joinSurveyController.myProfile()}" />
						<b:navCommandLink value="Logout" action="#{joinSurveyController.logout()}"  />
					</b:dropButton>			
				</b:column>
			</b:row>
			<b:row>
				<h:outputText value="a" style="color:#a0a09e " />
			</b:row>
			<!-- inserire i tasti del menù -->
			
			<b:row layout="fluid" style="height:520px">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:commandButton value="Utenti" look="primary" action="#{joinSurveyController.changePage('utenti.xhtml')}" style="border-radius:10px" />
							<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Domande" look="primary" action="#{joinSurveyController.changePage('domande.xhtml')}" style=" border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Risposte" look="primary" action="#{joinSurveyController.changePage('risposte.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
							
						<b:commandButton value="Email" look="primary" action="#{joinSurveyController.changePage('email.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Suggerimenti" look="primary" action="#{joinSurveyController.changePage('suggerimenti.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						
						<b:commandButton value="Questionario" look="primary" action="#{joinSurveyController.changePage('questionario.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Join Questionario" look="warning" action="#{joinSurveyController.changePage('joinquestionario.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Statistiche" look="primary" action="#{joinSurveyController.changePage('statistiche.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 30px "/>
						</b:row>
								
						</b:buttonGroup>
				</b:column>
					<b:column medium-screen="1" span="1">
					<h:outputText value="" style="color:white " />
						</b:column>
				<b:column medium-screen="9" span="9"
					style="align: center;  background-color: white; border-radius:10px ">
					<h:outputText value="a" style="color:white " />


					<!-- inserire il corpo della pagina -->

					<b:row layout="fluid">
						<b:column medium-screen="9" span="9"
							style="align: left; height: 10px; background-color: white ">
						</b:column>
					</b:row>
					
					<b:panel id="Ita"
						title="Questionari Italiani"
						look="success"  collapsed="true">
						
						<b:panel id="Adults"
						title="Adulti:"
						look="info"  collapsible="false">
									<b:selectOneMenu id="adults"
										value="#{joinSurveyController.joinSurveyKey['Adulti']}" ajax="true"
										update="adults" style="width: 400px;">
										<f:selectItem itemLabel="Non Associato" itemValue="#{joinSurveyController.notJoin}" />
										<f:selectItems value="#{joinSurveyController.surveysAdults}"
											var="js" itemLabel="#{js.name}" itemValue="#{js.id}" />
									</b:selectOneMenu>
						
						</b:panel>
						<b:panel id="Kids"
						title="Ragazzi:"
						look="info"  collapsible="false">
									<b:selectOneMenu id="kids"
										value="#{joinSurveyController.joinSurveyKey['Ragazzi']}" ajax="true"
										update="kids" style="width: 400px;">
										<f:selectItem itemLabel="Non Associato" itemValue="#{joinSurveyController.notJoin}" />
										<f:selectItems value="#{joinSurveyController.surveysKids}"
											var="js" itemLabel="#{js.name}" itemValue="#{js.id}" />
									</b:selectOneMenu>
						
						</b:panel>
						<b:panel id="Groups"
						title="Gruppi:"
						look="info"  collapsible="false">
									<b:selectOneMenu id="groups"
										value="#{joinSurveyController.joinSurveyKey['Gruppi']}" ajax="true"
										update="groups" style="width: 400px;">
										<f:selectItem itemLabel="Non Associato" itemValue="#{joinSurveyController.notJoin}" />
										<f:selectItems value="#{joinSurveyController.surveysGroups}"
											var="js" itemLabel="#{js.name}" itemValue="#{js.id}" />
									</b:selectOneMenu>
						
						</b:panel>						
					</b:panel>
					
					<b:panel id="Str"
						title="Questionari Stranieri"
						look="primary"  collapsed="true">
						
						<b:panel id="Eng"
						title="Inglese:"
						look="warning"  collapsible="false">
									<b:selectOneMenu id="en"
										value="#{joinSurveyController.joinSurveyKey['Inglese']}" ajax="true"
										update="en" style="width: 400px;">
										<f:selectItem itemLabel="Non Associato" itemValue="#{joinSurveyController.notJoin}" />
										<f:selectItems value="#{joinSurveyController.surveysEng}"
											var="js" itemLabel="#{js.name}" itemValue="#{js.id}" />
									</b:selectOneMenu>
													
						</b:panel>
						<b:panel id="Fra"
						title="Francese:"
						look="warning"  collapsible="false">
									<b:selectOneMenu id="fr"
										value="#{joinSurveyController.joinSurveyKey['Francese']}" ajax="true"
										update="fr" style="width: 400px;">
										<f:selectItem itemLabel="Non Associato" itemValue="#{joinSurveyController.notJoin}" />
										<f:selectItems value="#{joinSurveyController.surveysFra}"
											var="js" itemLabel="#{js.name}" itemValue="#{js.id}" />
									</b:selectOneMenu>

						</b:panel>
						<b:panel id="Deu"
						title="Tedesco:"
						look="warning"  collapsible="false">
									<b:selectOneMenu id="de"
										value="#{joinSurveyController.joinSurveyKey['Tedesco']}" ajax="true"
										update="de" style="width: 400px;">
										<f:selectItem itemLabel="Non Associato" itemValue="#{joinSurveyController.notJoin}" />
										<f:selectItems value="#{joinSurveyController.surveysDeu}"
											var="js" itemLabel="#{js.name}" itemValue="#{js.id}" />
									</b:selectOneMenu>
		
						</b:panel>	
						<b:panel id="Esp"
						title="Spagnolo:"
						look="warning"  collapsible="false">
									<b:selectOneMenu id="es"
										value="#{joinSurveyController.joinSurveyKey['Spagnolo']}" ajax="true"
										update="es" style="width: 400px;">
										<f:selectItem itemLabel="Non Associato" itemValue="#{joinSurveyController.notJoin}" />
										<f:selectItems value="#{joinSurveyController.surveysEsp}"
											var="js" itemLabel="#{js.name}" itemValue="#{js.id}" />
									</b:selectOneMenu>
						
						</b:panel>						
					</b:panel>

						<h:outputLabel value=" " />
												
						<b:alert severity="#{joinSurveyController.sd.messSeverity}" 
						rendered="#{joinSurveyController.sd.message.length()!=0}" style="width:100%;"> 
						#{joinSurveyController.sd.message} </b:alert>

					<!--  </h:panelGrid>-->
					<b:commandButton look="success" value="Salva"
						action="#{joinSurveyController.addUpdate()}" span="2"
						offset="10">
					</b:commandButton>
					<h:outputText value="a" style="color:white " />
				</b:column>
			</b:row>
		
			<!-- inserire il piede della pagina -->

<b:row layout="fluid" style="align: center; width: 100%; padding-top: 3%">

				<b:column span="1" style="text-align: right">
					<b:image name="maps" value="#{resource['img/maps.png']}"/>
				</b:column>

				<b:column class="hind" span="2" style="text-align: left;  font-weight: 600; font-size: 12px; color:white">
					<p>
						DOVE SIAMO | LOCATION<br></br> Indirizzo | Address<br></br> Via IV
						Novembre 44<br></br> 80056 – Ercolano (NA)<br></br> <br></br>
					</p>
				</b:column>

				<b:column class="hind" span="4" style="text-align: left; font-weight: 600; font-size: 12px; color:white">
					<p>
						<br></br> Contatti | Info<br></br> Mail: info@museomav.it<br></br>
						Tel: 081/7776843 - 081/7776784 |  Fax: 081/7323941
					</p>
				</b:column>
				<b:column span="5"></b:column>
			</b:row>


			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 1%">
				<b:column class="hind" span="12" style="text-align: center; font-weight: 600; font-size: 12px; color:white">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
			</b:row>

		</b:container>
	</h:form>
</h:body>
</html>

