<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV | Admin</title>
<link rel="icon" href="#{resource['img/mavicon.png']}"/>
</h:head>
<h:body style=" background-color:#a0a09e;">
  <b:container class="myjumbotron" layout="fluid" style="align: left; width: 80%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="#{resource['img/Admin_header_white.png']}"
						tooltip="MAV"
						style=" top: 0px; left: 0px;width: 100%; height:auto; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: right; text-align: right; font-size: 25px; color: white; height: 30px">
					<!-- inserire i tasti del sottomenù -->
					<b:form id="logout" style="align: center;  whith: 100%;">
					Pannello di controllo | #{userAddUpdateController.sd.level}:					
					<b:dropButton look="primary"
						value="#{userAddUpdateController.sd.username}">
						<b:navCommandLink  value="Profilo" action="#{userAddUpdateController.myProfile()}" />
						<b:navCommandLink value="Logout" action="#{userAddUpdateController.logout()}"  />
					</b:dropButton>	
					</b:form>	
				</b:column>
			</b:row>
			<b:row>
				<h:outputText value="a" style="color:#a0a09e " />
			</b:row>
			<!-- inserire i tasti del menù -->
			
			<b:row layout="fluid" style="height:520px">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
					<b:form id="Menu" style="align: center;  whith: 100%;">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:commandButton value="Utenti" look="warning" action="#{userAddUpdateController.changePage('utenti.xhtml')}" style="border-radius:10px" />
							<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Domande" look="primary" action="#{userAddUpdateController.changePage('domande.xhtml')}" style=" border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Risposte" look="primary" action="#{userAddUpdateController.changePage('risposte.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
							
						<b:commandButton value="Email" look="primary" action="#{userAddUpdateController.changePage('email.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Suggerimenti" look="primary" action="#{userAddUpdateController.changePage('suggerimenti.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						
						<b:commandButton value="Questionario" look="primary" action="#{userAddUpdateController.changePage('questionario.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Join Questionario" look="primary" action="#{userAddUpdateController.changePage('joinquestionario.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Statistiche" look="primary" action="#{userAddUpdateController.changePage('statistiche.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 30px "/>
						</b:row>
								
						</b:buttonGroup>
						</b:form>
				</b:column>
					<b:column medium-screen="1" span="1">
					<h:outputText value="" style="color:white " />
						</b:column>
						
				<b:column medium-screen="9" span="9"
					style="align: center;  background-color: white; border-radius:10px ">
					<h:outputText value="a" style="color:white " />

					<!-- inserire il corpo della pagina -->
					
					<b:form id="Form" style="align: center;  whith: 100%;">
					<b:row layout="fluid">
						<b:column medium-screen="9" span="9"
							style="align: left; height: 10px; background-color: white ">
						</b:column>
					</b:row>

					<h:panelGrid columns="3">

						<h:outputLabel value="Username:" for="username" />
						<h:inputText id="username"
							value="#{userAddUpdateController.login.username}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" />
						<b:message for="username" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Password:" for="password" />
						<h:inputText id="password"
							value="#{userAddUpdateController.login.password}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" />
						<b:message for="password" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Livello:" for="level" />

						<b:selectOneMenu id="level"
							value="#{userAddUpdateController.login.level}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" >
							<f:selectItem itemLabel="(Selezionare)" itemValue="" />
							<f:selectItem itemLabel="Admin" itemValue="Admin" />
							<f:selectItem itemLabel="User" itemValue="User" />
						</b:selectOneMenu>

						<b:message for="level" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Abilitato:" for="enable" />

						<b:selectBooleanCheckbox id="enable"
							value="#{userAddUpdateController.login.enabled}"/>

						<b:message for="enable" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Cognome:" for="surname" />
						<h:inputText id="surname"
							value="#{userAddUpdateController.login.user.surname}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" />
						<b:message for="surname" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Nome:" for="name" />
						<h:inputText id="name"
							value="#{userAddUpdateController.login.user.name}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" />
						<b:message for="name" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Indirizzo:" for="address" />
						<h:inputText id="address"
							value="#{userAddUpdateController.login.user.address}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" />
						<b:message for="address" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="CAP:" for="cap" />
						<h:inputText id="cap"
							value="#{userAddUpdateController.login.user.cap}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" />
						<b:message for="cap" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Citta:" for="city" />
						<h:inputText id="city"
							value="#{userAddUpdateController.login.user.city}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" />
						<b:message for="city" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Ruolo:" for="role" />

						<b:selectOneMenu id="role"
							value="#{userAddUpdateController.login.user.role}"
							style="width: 400px;" required="true" requiredMessage="Campo obbligatorio" >
							<f:selectItem itemLabel="(Selezionare)" itemValue="" />
							<f:selectItem itemLabel="Dirigente" itemValue="Dirigente" />
							<f:selectItem itemLabel="Funzionario" itemValue="Funzionario" />
							<f:selectItem itemLabel="Capo Ufficio" itemValue="Capo Ufficio" />
							<f:selectItem itemLabel="Impiegato" itemValue="Impiegato" />
							<f:selectItem itemLabel="Guest" itemValue="Guest" />
						</b:selectOneMenu>

						<b:message for="role" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel />
						
						<b:alert severity="#{userAddUpdateController.sd.messSeverity}" 
						rendered="#{userAddUpdateController.sd.message.length()!=0}" style="width:100%;"> 
						#{userAddUpdateController.sd.message} </b:alert>

						<h:outputLabel />

					</h:panelGrid>
					<h:inputHidden id="idlogin"
							value="#{userAddUpdateController.login.id}"/>
					<h:inputHidden id="iduser"
							value="#{userAddUpdateController.login.user.id}"/>
					<b:commandButton look="success" value="Salva"
						action="#{userAddUpdateController.addUpdateUser()}" span="2"
						offset="10">
					</b:commandButton>
					<h:outputText value="a" style="color:white " />
					</b:form>
				</b:column>
			</b:row>
							
			<b:row>
				<b:column>
				<h:outputText value="a" style="color:#a0a09e " />
							</b:column>
			</b:row>
			
			<!-- inserire il piede della pagina -->

<b:row layout="fluid" style="align: center; width: 100%; padding-top: 3%">

				<b:column span="1" style="text-align: right">
					<b:image name="maps" value="#{resource['img/maps.png']}"/>
				</b:column>

				<b:column class="hind" span="2" style="text-align: left;  font-weight: 600; font-size: 12px; color:white">
					<p>
						DOVE SIAMO | LOCATION<br></br> Indirizzo | Address<br></br> Via IV
						Novembre 44<br></br> 80056 – Ercolano (NA)<br></br> <br></br>
					</p>
				</b:column>

				<b:column class="hind" span="4" style="text-align: left; font-weight: 600; font-size: 12px; color:white">
					<p>
						<br></br> Contatti | Info<br></br> Mail: info@museomav.it<br></br>
						Tel: 081/7776843 - 081/7776784 |  Fax: 081/7323941
					</p>
				</b:column>
				<b:column span="5"></b:column>
			</b:row>


			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 1%">
				<b:column class="hind" span="12" style="text-align: center; font-weight: 600; font-size: 12px; color:white">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
			</b:row>

		</b:container>
</h:body>
</html>

