<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>MAV | Admin</title>
<link rel="icon" href="#{resource['img/mavicon.png']}" />
</h:head>
<h:body style=" background-color:#a0a09e;">
  <b:container class="myjumbotron" layout="fluid" style="align: left; width: 80%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="#{resource['img/Admin_header_white.png']}"
						tooltip="MAV"
						style=" top: 0px; left: 0px;width: 100%; height:auto; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: right; text-align: right; font-size: 25px; color: white; height: 30px">
					<!-- inserire i tasti del sottomenù -->
					
						<h:form id="logout" style="align: center;  whith: 100%;">
					Pannello di controllo | #{surveyAddUpdateController.sd.level}:					
					<b:dropButton look="primary"
						value="#{surveyAddUpdateController.sd.username}">
						<b:navCommandLink  value="Profilo" action="#{surveyAddUpdateController.myProfile()}" />
						<b:navCommandLink value="Logout" action="#{surveyAddUpdateController.logout()}"  />
					</b:dropButton>	
					</h:form>		
				</b:column>
			</b:row>
			<b:row>
				<h:outputText value="a" style="color:#a0a09e " />
			</b:row>
			<!-- inserire i tasti del menù -->
			
			<b:row layout="fluid" style="height:520px">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
					<h:form id="Menu" style="align: center;  whith: 100%;">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:commandButton value="Utenti" look="primary" action="#{surveyAddUpdateController.changePage('utenti.xhtml')}" style="border-radius:10px" />
							<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Domande" look="primary" action="#{surveyAddUpdateController.changePage('domande.xhtml')}" style=" border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Risposte" look="primary" action="#{surveyAddUpdateController.changePage('risposte.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
							
						<b:commandButton value="Email" look="primary" action="#{surveyAddUpdateController.changePage('email.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Suggerimenti" look="primary" action="#{surveyAddUpdateController.changePage('suggerimenti.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						
						<b:commandButton value="Questionario" look="warning" action="#{surveyAddUpdateController.changePage('questionario.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Join Questionario" look="primary" action="#{surveyAddUpdateController.changePage('joinquestionario.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:commandButton value="Statistiche" look="primary" action="#{surveyAddUpdateController.changePage('statistiche.xhtml')}" style="border-radius:10px" />
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 20px "/>
						</b:row>
						<b:row layout="fluid">
						<b:column medium-screen="2" span="2"
						style="align: left; height: 30px "/>
						</b:row>
								
						</b:buttonGroup>
						</h:form>
				</b:column>
					<b:column medium-screen="1" span="1">
					<h:outputText value="" style="color:white " />
						</b:column>
				<b:column medium-screen="9" span="9"
					style="align: center;  background-color: white; border-radius:10px ">
					<h:outputText value="a" style="color:white " />


					<!-- inserire il corpo della pagina -->

					<b:row layout="fluid">
						<b:column medium-screen="9" span="9"
							style="align: left; height: 10px; background-color: white ">
						</b:column>
					</b:row>
					<h:form id="Form" style="align: center;  whith: 100%;">
					<h:panelGrid columns="3">
					
						<h:outputLabel value="Nome:" for="name" />
						<h:inputText id="name"
							value="#{surveyAddUpdateController.survey.name}"
							style="width: 400px;" />
						<b:message for="name" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Tipologia:" for="typology" />

						<b:selectOneMenu id="typology"
							value="#{surveyAddUpdateController.survey.typology}"
							style="width: 400px;">
							<f:selectItem itemLabel="(Selezionare)" itemValue="" />
							<f:selectItem itemLabel="Adulti" itemValue="Adulti" />
							<f:selectItem itemLabel="Ragazzi" itemValue="Ragazzi" />
							<f:selectItem itemLabel="Gruppi" itemValue="Gruppi" />
							<f:selectItem itemLabel="Inglese" itemValue="Inglese" />
							<f:selectItem itemLabel="Francese" itemValue="Francese" />
							<f:selectItem itemLabel="Tedesco" itemValue="Tedesco" />
							<f:selectItem itemLabel="Spagnolo" itemValue="Spagnolo" />
						</b:selectOneMenu>

						<b:message for="typology" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel value="Descrizione:" for="description" />
						<h:inputTextarea id="description"
							value="#{surveyAddUpdateController.survey.description}" rows="5"
							style="width: 400px;" size="500" />
						<h:message for="description" style="color:red" />

						<h:outputLabel value=" " />
						<h:outputLabel value=" " />
						<h:outputLabel value=" " />

						<h:outputLabel />
						<b:alert severity="#{surveyAddUpdateController.sd.messSeverity}" 
						rendered="#{surveyAddUpdateController.sd.message.length()!=0}" style="width:100%;"> 
						#{surveyAddUpdateController.sd.message} </b:alert>
						<h:inputHidden value="#{surveyAddUpdateController.survey.id}" />
					</h:panelGrid>
										
					<b:commandButton look="success" value="Salva"
						action="#{surveyAddUpdateController.addUpdate()}" span="2"
						offset="7">
					</b:commandButton>
					
					<b:commandButton look="success" value="Associa Domande" rendered="#{surveyAddUpdateController.survey.id!=0}"
						action="#{surveyAddUpdateController.changePage('associadomande.xhtml')}"
						 span="3" offset="0">
					</b:commandButton>
					</h:form>
					<b:row><b:column>
					<h:outputText value="a" style="color: white " />
					</b:column></b:row>
				</b:column>
			</b:row>
			<!-- inserire il piede della pagina -->

<b:row layout="fluid" style="align: center; width: 100%; padding-top: 3%">

				<b:column span="1" style="text-align: right">
					<b:image name="maps" value="#{resource['img/maps.png']}" />
				</b:column>

				<b:column class="hind" span="2" style="text-align: left;  font-weight: 600; font-size: 12px; color:white">
					<p>
						DOVE SIAMO | LOCATION<br></br> Indirizzo | Address<br></br> Via IV
						Novembre 44<br></br> 80056 – Ercolano (NA)<br></br> <br></br>
					</p>
				</b:column>

				<b:column class="hind" span="4" style="text-align: left; font-weight: 600; font-size: 12px; color:white">
					<p>
						<br></br> Contatti | Info<br></br> Mail: info@museomav.it<br></br>
						Tel: 081/7776843 - 081/7776784 |  Fax: 081/7323941
					</p>
				</b:column>
				<b:column span="5"></b:column>
			</b:row>


			<b:row layout="fluid" style="align: center; width: 100%; padding-top: 1%">
				<b:column class="hind" span="12" style="text-align: center; font-weight: 600; font-size: 12px; color:white">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
			</b:row>

		</b:container>
</h:body>
</html>

