<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>MAV | Admin</title>
	<link rel="icon" href="#{resource['img/mavicon.png']}" />
	
						<script type="text/javascript"
							src="https://www.gstatic.com/charts/loader.js"></script>

						<script type="text/javascript"
							src="https://www.gstatic.com/charts/loader.js"></script>

						<script type="text/javascript">
   					google.charts.load("current", {packages:["corechart"]});
    				google.charts.setOnLoadCallback(drawChart);
    				function drawChart() {
    					
					<ui:repeat value="#{statsViewController.survey.groupQuestions}"
							var="group" varStatus="gq">

						<ui:repeat value="#{group.questions}" var="question"
								varStatus="q">

        					var data_#{gq.index}_#{q.index} = google.visualization.arrayToDataTable([
            					['Answer', 'Value'],
            					#{question.dataChart}
            				    ]);

            					var options = {
            						legend: {textStyle: {color:'rgb(60, 179, 113)', fontSize: 20}},
            						titlePosition: 'none',
            						is3D: true,
                					'backgroundColor': 'transparent',
                					chartArea: {left:'0',top:'0',width:'95%',height:'95%'}
                				};

               					var chart_#{gq.index}_#{q.index} = new google.visualization.PieChart(document.getElementById('chart_' + #{gq.index}+'_'+#{q.index}));
                				chart_#{gq.index}_#{q.index}.draw(data_#{gq.index}_#{q.index}, options);
                		</ui:repeat>
                	</ui:repeat>
      				}
    			</script>
    			<script type="text/javascript">
    			google.charts.load('current', {packages: ['corechart', 'bar']});
    			google.charts.setOnLoadCallback(drawBasic);

    			function drawBasic() {

					<ui:repeat value="#{statsViewController.survey.groupQuestions}"
						var="group" varStatus="gq">

					<ui:repeat value="#{group.questions}" var="question"
							varStatus="q">

    			      var data_#{gq.index}_#{q.index} = google.visualization.arrayToDataTable([
      					['Answer', 'Value'],
    					#{question.dataChart}
    			      ]);

    			      var options = {
    			        title: '',
    			        chartArea: {width: '60%'},
    			        legend: { position: "none" },
    			        hAxis: {
    			          title: 'Frequenza',
    			          minValue: 0
    			        },
    			        vAxis: {
    			          title: 'Risposte'
    			        }
    			      };

    			      var chart_#{gq.index}_#{q.index} = new google.visualization.BarChart(document.getElementById('chart_div_' + #{gq.index}+'_'+#{q.index}));

    			      chart_#{gq.index}_#{q.index}.draw(data_#{gq.index}_#{q.index}, options);
              		</ui:repeat>
                	</ui:repeat>
    			    }
    			</script>
</h:head>
<h:body style=" background-color:#a0a09e;">
	<h:form id="Form" style="align: center;  whith: 100%;">
		<b:container class="myjumbotron" layout="fluid"
			style="align: left; width: 80%;">
			<b:row layout="fluid" style="align: center; whith: 100%;">
				<b:column medium-screen="12" style="align: center;">
					<b:image name="testata" value="#{resource['img/Admin_header_white.png']}"
						tooltip="MAV"
						style=" top: 0px; left: 0px;width: 100%; height:auto; align: center;" />
				</b:column>
			</b:row>
			<b:row layout="fluid">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
				</b:column>
				<b:column medium-screen="10" span="10"
					style="align: right; text-align: right; font-size: 25px; color: white; height: 30px">
					<!-- inserire i tasti del sottomenù -->
					
					Pannello di controllo | #{statsViewController.sd.level}:					
					<b:dropButton look="primary"
						value="#{statsViewController.sd.username}">
						<b:navCommandLink value="Profilo"
							action="#{statsViewController.myProfile()}" />
						<b:navCommandLink value="Logout"
							action="#{statsViewController.logout()}" />
					</b:dropButton>
				</b:column>
			</b:row>
			<b:row>
				<h:outputText value="a" style="color:#a0a09e " />
			</b:row>
			<!-- inserire i tasti del menù -->

			<b:row layout="fluid" style="height:520px">
				<b:column medium-screen="2" span="2"
					style="align: left; height: 30px ">
					<b:buttonGroup orientation="vertical" size="lg">
						<b:commandButton value="Utenti" look="primary"
							action="#{statsViewController.changePage('utenti.xhtml')}"
							style="border-radius:10px" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:commandButton value="Domande" look="primary"
							action="#{statsViewController.changePage('domande.xhtml')}"
							style=" border-radius:10px" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:commandButton value="Risposte" look="primary"
							action="#{statsViewController.changePage('risposte.xhtml')}"
							style="border-radius:10px" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>

						<b:commandButton value="Email" look="primary"
							action="#{statsViewController.changePage('email.xhtml')}"
							style="border-radius:10px" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:commandButton value="Suggerimenti" look="primary"
							action="#{statsViewController.changePage('suggerimenti.xhtml')}"
							style="border-radius:10px" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>

						<b:commandButton value="Questionario" look="primary"
							action="#{statsViewController.changePage('questionario.xhtml')}"
							style="border-radius:10px" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:commandButton value="Join Questionario" look="primary"
							action="#{statsViewController.changePage('joinquestionario.xhtml')}"
							style="border-radius:10px" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:commandButton value="Statistiche" look="warning"
							action="#{statsViewController.changePage('statistiche.xhtml')}"
							style="border-radius:10px" />
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 20px " />
						</b:row>
						<b:row layout="fluid">
							<b:column medium-screen="2" span="2"
								style="align: left; height: 30px " />
						</b:row>

					</b:buttonGroup>
				</b:column>
				<b:column medium-screen="1" span="1">
					<h:outputText value="" style="color:white " />
				</b:column>
				<b:column medium-screen="9" span="9"
					style="align: center;  background-color: white; border-radius:10px ">
					<h:outputText value="a" style="color:white " />


					<!-- inserire il corpo della pagina -->

					<b:row layout="fluid">
						<b:column medium-screen="9" span="9"
							style="align: left; height: 10px; background-color: white ">
						</b:column>
					</b:row>
					<h:inputHidden value="#{statsViewController.survey.id}" />
					<b:panel look="primary" collapsible="false">
						<f:facet name="heading">
							<h:outputText
								value="Statistiche del Questionario: #{statsViewController.survey.name}"
								style="font-size:25px;" />
							<br />
							<h:outputText 
								value="(Risposto n° #{statsViewController.survey.nQueries} volte)"
								style="color:rgb(255, 235, 171); font-size:18px;" />
								
							<b:column
					style="align: right; text-align: center; font-size: 15px; color: white; margin-top: -70px;">
								
							<b:selectOneMenu id="chartType"
							value="#{statsViewController.sd.chartType}"
							offset="10"
							 label="Tipo di Grafico" update="Form"
							 onchange="ajax:statsViewController.refreshCharter()" ajax="true">
							<f:selectItem itemLabel="Torta" itemValue="chart" />
							<f:selectItem itemLabel="Barre" itemValue="chart_div" />
							</b:selectOneMenu>	
								
							</b:column>
																							
						</f:facet>
						<f:facet name="footer">
						</f:facet>

						<b:row layout="fluid">
							<b:column>
								<h:outputLabel value=" " />
							</b:column>
						</b:row>
						<ui:repeat value="#{statsViewController.survey.groupQuestions}"
							var="group" varStatus="gq">
							<!--  <b:accordion expanded-panels="">-->
								<b:panel id="gq" title="Gruppo di Domanda n° #{gq.index+1}:"
									look="warning" collapsed="false">
									<f:facet name="footer">
									</f:facet>

									<h:outputText value="#{group.name}" size="250"
										style="width: 65%;" />

									<b:row layout="fluid">
										<b:column>
											<h:outputLabel value=" " />
										</b:column>
									</b:row>

									<ui:repeat value="#{group.questions}" var="question"
										varStatus="q">

										<b:panel look="info" id="q" collapsed="false">
		
											<f:facet name="heading">
												<h:outputText
													value="Domanda n° #{q.index+1}: #{question.name}" />
											</f:facet>
											<b:row>

											</b:row>
											<b:row style="color:white">a</b:row>
											<b:panel look="success" id="a" collapsed="true">
												<f:facet name="heading">
													<h:outputText value="Moda: " />
													<h:outputText value="#{question.trend}" />
													<br />
													<h:outputText value="Media: " rendered="#{question.average!=0}" />
													<h:outputText value="#{question.average}" rendered="#{question.average!=0}"/>
													<br />
													<h:outputText value="Media in Percentuale: " rendered="#{question.averagePercentage!=0}" />
													<h:outputText value="#{question.averagePercentage}%" rendered="#{question.averagePercentage!=0}"/>
												</f:facet>
												<ui:repeat value="#{question.answers}" var="answer"
													varStatus="a">

													<b:panel look="success" collapsible="false">
														<f:facet name="heading">
															<h:outputText value="- #{answer.name}" />
														</f:facet>
														<h:outputText
															value="Selezionata: #{answer.choice.size()} volte su #{statsViewController.survey.nQueries}; #{answer.choice.size()/statsViewController.survey.nQueries} %" />
													</b:panel>

												</ui:repeat>
											</b:panel>
										<!-- Grafico -->	
												<b:container fluid="true" >		
												<div id="#{statsViewController.sd.chartType}_#{gq.index}_#{q.index}" 
												style="margin: 0 auto;"></div>
												</b:container>
										<!-- Fine Grafico -->
										</b:panel>
									</ui:repeat>
								</b:panel>
							<!--   </b:accordion>-->
						</ui:repeat>
					</b:panel>

					<b:alert severity="#{statsViewController.sd.messSeverity}"
						rendered="#{statsViewController.sd.message.length()!=0}"
						style="width:100%;"> 
						#{statsViewController.sd.message} </b:alert>
					<h:outputLabel />

					<h:outputText value="a" style="color:white " />
				</b:column>
			</b:row>
			<!-- inserire il piede della pagina -->

			<b:row>
				<b:column>
					<h:outputText value="a" style="color:#a0a09e " />
				</b:column>
			</b:row>

			<b:row layout="fluid"
				style="align: center; width: 100%; padding-top: 3%">

				<b:column span="1" style="text-align: right">
					<b:image name="maps" value="#{resource['img/maps.png']}" />
				</b:column>

				<b:column class="hind" span="2"
					style="text-align: left;  font-weight: 600; font-size: 12px; color:white">
					<p>
						DOVE SIAMO | LOCATION<br></br> Indirizzo | Address<br></br> Via IV
						Novembre 44<br></br> 80056 – Ercolano (NA)<br></br> <br></br>
					</p>
				</b:column>

				<b:column class="hind" span="4"
					style="text-align: left; font-weight: 600; font-size: 12px; color:white">
					<p>
						<br></br> Contatti | Info<br></br> Mail: info@museomav.it<br></br>
						Tel: 081/7776843 - 081/7776784 | Fax: 081/7323941
					</p>
				</b:column>
				<b:column span="5"></b:column>
			</b:row>


			<b:row layout="fluid"
				style="align: center; width: 100%; padding-top: 1%">
				<b:column class="hind" span="12"
					style="text-align: center; font-weight: 600; font-size: 12px; color:white">
				
 				 ©2018 MAV | GANViM
				
 				</b:column>
			</b:row>

		</b:container>
	</h:form>
</h:body>
</html>